<div class="row row-cols-4 animated fadeIn fast">
    <h1>
      Buscando a: <small class="text-body-secondary">{{termino}}</small>
    </h1>
  </div>  
  <div class="row row-cols-4">
  
      <div class="col animated fadeIn fast" *ngFor="let heroe of heroes; let i=index">      
        <div class="card mb-3">
          <img src="{{heroe.img}}" class="card-img-top" alt="{{heroe.nombre}}">
          <div class="card-body">
            <h5 class="card-title animate__animated animate__backInDown">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-body-secondary">{{ heroe.aparicion }}</small></p>
           
           <button type="button" class="btn btn-outline-primary btn-block">Ver mas
           </button>
  
  
          </div>
        </div>
      </div>
  
     
  
  </div>
