<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="assets\img\marvel.png" alt="Logo" width="60" height="50" class="animate__animated animate__heartBeat">
        <h1 class="animate__animated animate__bounceInDown">Historia de Marvel</h1>

        <p class="justify">Marvel Comics fue fundada en 1939 por Martin Goodman como Timely Publications. Durante la década de 1960, bajo el liderazgo de Stan Lee, Jack Kirby y Steve Ditko, Marvel revolucionó la industria del cómic al crear personajes icónicos como Spider-Man,
            los X-Men, Iron Man, Thor, Hulk, los Cuatro Fantásticos y los Vengadores. El Universo Marvel se caracteriza por sus superhéroes con defectos humanos, problemas personales y relaciones complicadas. A lo largo de los años, Marvel ha explorado
            temas sociales y políticos en sus cómics, convirtiéndose en una parte integral de la cultura popular. El éxito de Marvel en los cómics se ha traducido en otras formas de medios, como películas, series de televisión y videojuegos. El Universo
            Cinematográfico de Marvel (MCU) es especialmente notable, con películas interconectadas que han dominado la taquilla y cautivado a audiencias de todo el mundo.</p>
    </div>

    <div class="container">
        <img src="assets\img\dc.png" alt="Logo" width="60" height="50" class="animate__animated animate__bounceInDown">
        <h1 class="animate__animated animate__heartBeat">Historia de DC Comics</h1>

        <p class="justify"> DC Comics, originalmente conocida como National Allied Publications, fue fundada en 1934. El año siguiente, lanzaron su primer superhéroe, Superman, creado por Jerry Siegel y Joe Shuster. Este personaje se convirtió en un ícono cultural instantáneo
            y estableció el género de los superhéroes tal como lo conocemos hoy. En la década de 1940, DC introdujo a Batman, Wonder Woman, Flash, Green Lantern y muchos otros héroes icónicos. A lo largo de las décadas, DC ha seguido expandiendo su universo
            con una amplia gama de personajes, cómics y eventos épicos. Al igual que Marvel, DC ha explorado temas complejos y ha reflejado los cambios sociales en sus historias. Su serie de cómics "Crisis en Tierras Infinitas" en la década de 1980, por
            ejemplo, redefinió el multiverso DC y estableció un precedente para eventos de crossover a gran escala. DC también ha tenido un gran impacto fuera del mundo del cómic, especialmente en el cine y la televisión. Desde las películas de Superman
            de Christopher Reeve hasta las exitosas películas de Batman dirigidas por Christopher Nolan, pasando por las series de televisión como "Arrow" y "The Flash", el legado de DC en los medios de entretenimiento es profundo y duradero.
        </p>
    </div>

    <hr>

    <div class="row row-cols-container-fluid">
        <div class="col">
            <section id="iconos">
                <div class="row">
                    <div class="col">
                        <div class="container-fluid">
                            <i class="fab fa-facebook"></i>
                            <h6>Facebook</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container-fluid">
                            <i class="fab fa-twitter"></i>
                            <h6>Twitter</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container-fluid">
                            <i class="fab fa-google-plus-square"></i>
                            <h6>Google</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container-fluid">
                            <i class="fab fa-instagram"></i>
                            <h6>Instagram</h6>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container-fluid">
                            <i class="fa-brands fa-whatsapp"></i>
                            <h6>Whatsapp</h6>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/0cd7a631da.js" crossorigin="anonymous"></script>



</div>