<h1> Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="row row-cols-md-3">
    <div class="col" *ngFor="let heroe of heroes; let i = index">
        <div class="card mb-3">
            <img src={{heroe.img}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{heroe.nombre}}</h5>
                <p class="card-text">{{heroe.bio}}</p>
                <p class="card-text">{{heroe.aparicion}}</p>
                <p class="card-text">{{heroe.casa}}</p>
                <a (click)="verHeroe(i)" class="btn btn-primary">Ver más</a>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>