<h1 class="encabezado"> {{heroe.nombre}} <small>{{heroe.aparicion}}</small></h1>

<hr class="hr">
<div class="row">
    <div class="col-md-4">
        <img src={{heroe.img}} alt="...">
    </div>
    <div class="col-md-8">
        <h3 class="contenedor">{{heroe.nombre}}</h3>

        <div *ngIf="heroe.casa == 'Marvel'; else elseBlock">
            <img src="assets/img/marvel.png" class="imgMarvel">
        </div>

        <ng-template #elseBlock>
            <img src="assets/img/dc.png" class="imgDc">
        </ng-template>
        <hr class="hr">
        <p>
            {{heroe.bio}}
        </p>
        <br><br>
        <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
    </div>
</div>